<div class="titles">
  <div class="author">автор</div>
  <div class="theme">тема</div>
  <div class="count">ответов</div>
  <div class="tags">теги</div>
</div>

<ng-container *ngIf="loading; else questionsList">
  <div class="text-center">Загрузка вопросов</div>
</ng-container>

<ng-template #questionsList>
  <ng-container *ngIf="questions && questions.length; else emptyQuestions">
    <app-question
      *ngFor="let question of questions"
      [question]="question"
      (navigateTo)="navigateTo.emit($event)"
      (openPanelByUser)="openPanelByUser.emit($event)"
      (openPanelByTag)="openPanelByTag.emit($event)"
      class="question">
    </app-question>
  </ng-container>
</ng-template>

<ng-template #emptyQuestions>
  <div class="text-center">Список пуск</div>
</ng-template>
