<header class="header">
  <nav class="nav">
    <ul class="nav-bar">
      <li class="nav-bar__item">
        <a class="nav-bar__link" routerLink="search">На главную</a>
      </li>
      <li class="nav-bar__item">
        <a class="nav-bar__link" routerLink="results-search">results</a>
      </li>
      <li class="nav-bar__item">
        <a class="nav-bar__link" routerLink="answers">answer</a>
      </li>
    </ul>
  </nav>
</header>
<main class="main content">
  <router-outlet></router-outlet>
</main>

