:host {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.author, .tags {
  flex: 1;
}

.theme {
  flex: 2;
}

.count {
  flex: 0.5;
}

.theme, .count, .tags {
  padding-left: 16px;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  .tag {
    margin: 0 8px 4px 0;
    padding: 0 12px;
    background-color: #f2f2f2;
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}
