<div *ngIf="title$ | async as title" class="title text-center">
  <button (click)="navigateToSearch()" class="back-btn">Вернуться к поиску</button>
  <span class="text">Результаты по поиску: {{ title }}</span>
</div>
<ng-container *ngIf="quickPanelParams$ | async as quickPanelParams">
  <app-quick-panel
    [questions]="panelQuestions$ | async"
    [loading]="isPanelQuestionsLoading$ | async"
    [info]="quickPanelParams?.info"
    (openPanelByUser)="openPanelByUser($event, 'user')"
    (openPanelByTag)="openPanelByTag($event, 'tag')"
    (navigateTo)="navigateToAnswers($event)">
  </app-quick-panel>
</ng-container>
<app-questions
  [questions]="questions$ | async"
  [loading]="isQuestionsLoading$ | async"
  (openPanelByUser)="openPanelByUser($event, 'user')"
  (openPanelByTag)="openPanelByTag($event, 'tag')"
  (navigateTo)="navigateToAnswers($event)">
</app-questions>
